<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <style>
        body { font-family: Arial; }
        #messages { list-style-type: none; padding: 0; }
        #messages li { padding: 5px 0; }
    </style>
</head>
<body>

<h2>Chat</h2>

<ul id="messages"></ul>

<input id="content" placeholder="Message">
<button onclick="envoyer()">Envoyer</button>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script>
    window.pseudo = "{{ pseudo }}";
</script>

</body>
</html>
